{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{% block desc %}{% endblock desc %}">
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">

    <link rel="stylesheet" href="{% static 'libs/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <input type="text" value="" name="search" placeholder="Поиск...">
                {% block search %}



                {% endblock search %}
                {% block content %}
                
                {% endblock content %}
            </div>
        </div>
    </div>
    

</body>
</html>