body{
    margin: 0;
    padding: 0;
    background: rgba(194, 155, 155, 0.164);
}
.container{
    background: #fff;
}
input{
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: rgba(42, 49, 114, 0.77);
    transition: color .2s;
}
a:hover{
    color: rgb(185, 70, 50);
}

.created{
    font-weight: 600;
    color: rgb(77, 63, 0);
}
.tags{
    display: inline-block;
    margin: 0;
    background: rgba(210, 105, 30, 0.233);
}