{% extends 'post/base.html' %}

{% block content %}
    {% for post in posts %}

        <h2><a href="{% url 'post_single' pk=post.id %}"> {{ post.title }}</a></h2>
        <p>{{ post.text_min }}</p>
        <p class="created">{{ post.created }}</p>
    {% endfor %}
{% endblock content %}
