
{% extends 'post/base.html' %}

{% block desc %}{{ post.description }}{% endblock desc %}
{% block keywords %}{{ post.keywords }}{% endblock keywords %}
{% block title %}{{ post.title }}{% endblock title %}

{% block content %}


<h1>{{ post.title }}</h1>
<p>{{ post.text }}</p>
<hr>
<p>Категория: {{ post.categoty }}</p>
<p class="tags">Теги:
    {% for tag in post.tag.all %}
    {{ tag.title }}
    {% endfor %}
</p>
<p>Автор: <strong><a href="#">{{ post.user }}</a>  </strong>-- {{ post.created }}</p>


{% endblock content %}